#final-score-background {
    height: 100vh;
    width: 100vw;
    background-image: url(https://img.freepik.com/premium-photo/grunge-brown-vintage-paper-texture-background_506584-81.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

#final-score {
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 90%;
    padding: 15% 0;
}

#title-final-score {
    font-size: xx-large;
    max-width: 25rem;

    margin-bottom: 2rem;
    margin-left: 10%;
    margin-right: 10%;
    margin: 1rem 0;
}

#highscore-players {
    margin: 0 10%;
}

#highscore-players * {
    font-size: xx-large;
}

#outer-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 590px) {
    #final-score {
        padding: 35% 0;
    }

    #highscore-players * {
        font-size: large;
    }
}

@media (max-width: 200px) {
    #final-score {
        padding: 35% 0;
    }

    #title-final-score {
        font-size: 15vw;
        text-align: center;
    }
}

/* button {
    width: 25%
} */